body {

font-family: Arial, sans-serif;

color: white;

background-color: #000000;

margin: 0;

padding: 25px;

line-height: 1.6;

}
header {

background-color: #9678b6;

color: white;

padding: 5px;

text-align:center;
  

}


header h1 {

margin: 0;

}


nav a {

color: white;

text-decoration: none;

margin: 0 5px;

}


nav a:hover {

color:#f03da8;

}
main {

padding: 20px;

max-width: 300px;

margin: 0 auto;

}

main img {

max-width: 100%;

height: auto;

display: block;

margin: 20px 0;
footer {

background-color: #333;

color: white;

text-align:bottom;

padding: 10px;

position: center;

width: 100%;
} 
p {

font-size: 1.1em;

}


a {

color: #4CAF50;

text-decoration: none;

}


a:hover {

text-decoration: underline;

}
img {

border: 5px solid #4CAF50;

border-radius: 10px;

}
main a[href^="mailto:"] {

color: #ff5722;

font-weight: bold;

} 
